In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("jokes-data.csv")

In [3]:
data

                id  user_id  joke_id  Rating
0        31030_110    31030      110   2.750
1        16144_109    16144      109   5.094
2          23098_6    23098        6  -6.438
3         14273_86    14273       86   4.406
4        18419_134    18419      134   9.375
...            ...      ...      ...     ...
1092054   9517_132     9517      132   3.156
1092055  27767_118    27767      118  -1.594
1092056   10580_81    10580       81   2.000
1092057  31007_119    31007      119   8.906
1092058    8420_98     8420       98  -3.344

[1092059 rows x 4 columns]

In [4]:
data.shape

(1092059, 4)

# using the surprise package

In [5]:
import surprise
from surprise import Reader, Dataset, KNNBasic, SVD,accuracy

In [6]:
reader = Reader()

In [7]:
df=data[['user_id', 'joke_id', 'Rating']]

In [8]:
data1 = Dataset.load_from_df(df, reader)

In [9]:
trainset, validset = surprise.model_selection.train_test_split(
    data1, test_size=0.2, random_state=42
)

In [10]:
k = 10
algo = SVD(n_factors=k, random_state=42)
algo.fit(trainset)
svd_preds = algo.test(validset)
accuracy.rmse(svd_preds, verbose=True)

RMSE: 4.7001

4.7001277717013705

# Cross-validation

In [11]:
from surprise.model_selection import cross_validate

results = cross_validate(algo, data1, measures=["RMSE", "MAE"], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.7036  4.7054  4.7084  4.6993  4.7041  4.7041  0.0029
MAE (testset)     3.6536  3.6617  3.6578  3.6520  3.6557  3.6562  0.0034
Fit time          15.51   16.82   15.66   15.49   15.19   15.73   0.56
Test time         5.25    5.07    4.95    6.58    5.08    5.39    0.60

In [12]:
pd.DataFrame(results).mean()

test_rmse     4.704147
test_mae      3.656157
fit_time     15.733719
test_time     5.388026
dtype: float64